.bg-container{
    background-color:#86d2f2 ;
    height: 100vh;
}
.main-heading{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: #1f1d41;
}
.custom-btn{
    height: 45px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    background-color:#1f1d41 ;
    color: white;
}
.bg-color-card{
    height: 60vh;
    width: 20vw;
    background-color: #1f1d41;
    border-radius:70px ;
    text-align: center;
}
.color-card{
    height: 70px;
    width:70px;
    background-color: #4b5069;
    border-radius: 100px;
    margin-bottom: 10px;
    
}